#index-admin, #index-guest{

    padding-top: 80px;
    height: 100vh;
    .row{

        justify-content: center;
        
    }

    .frame-navigator{
        max-width: 450px;
        border: 2px solid black;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > *{
            padding: 4px 8px;
            color: black;
            text-decoration: none;
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
}